#content{
    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-areas: ". content .";
    padding: 64px 0;
    color: #F5E1FD;
    @include md{
        padding: 100px 0;
        grid-template-columns: auto 80% auto;
    }
    @include lg{
        padding: 120px 0;
        grid-template-columns: auto 80% auto;
    }
    @include xl{
        grid-template-columns: auto 1440px auto;
    }

    div{
        grid-area: content;

        @include lg{
            padding: 0 30%;

        }
        h1{
            font-size: rem-calc{};
            margin-bottom: 10px;
        }
        p{
            font-size: rem-calc{};
            line-height: rem-calc{};
            text-align: justify;
        }
        #button{
            align-items: center;
            text-align: center;
            border: none;
            background-color:  #A97DA2;
            color: #fff;
            padding: 15px 32px;
            border-radius: 12px;
            margin-left: 15%;
            margin-right: 15%;
            &:hover, &:active{
                color: #061928;
            }
            
        }
    }
}